<a href="https://colab.research.google.com/github/bosiborileo/fuel-prices-from-2021/blob/main/Copy_of_Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

# Read the XLSX files into DataFrames

df1 = pd.read_excel('/content/drive/MyDrive/epra fuel/14th-February-2023-–-15th-March-2023.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-December-2022-14th-January-2023.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-February-14th-March-2022_Website.xlsx')
df6 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-January-14th-February-2022.xlsx')
df7 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-January-2023-–14th-February-2023-11.xlsx')
df8 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-March-2022-to-April-2022.xlsx')
df9 = pd.read_excel('/content/drive/MyDrive/epra fuel/FINAL-ACTUAL-PUMP-PRICES_15th-MARCH-14th-APRIL-2023.xlsx')
df11 = pd.read_excel('/content/drive/MyDrive/epra fuel/Prices-15th-Nov-14th-Dec-2022 (1).xlsx')
df12 = pd.read_excel('/content/drive/MyDrive/epra fuel/Prices-August-to-September-2022 (1).xlsx')
df13 = pd.read_excel('/content/drive/MyDrive/epra fuel/Prices-Oct-to-Nov-2022 (1).xlsx')
df14 = pd.read_excel('/content/drive/MyDrive/epra fuel/Prices-july-to-August-2022 (1).xlsx')
df15 = pd.read_excel('/content/drive/MyDrive/epra fuel/Prices-september-to-october-2022 (1).xlsx')
df16 = pd.read_excel('/content/drive/MyDrive/epra fuel/Pump-Prices-15-July-14-August-2023-Website.xlsx')
df17 = pd.read_excel('/content/drive/MyDrive/epra fuel/Pump-Prices-15-June-14-July-2022_Website.xlsx')
df18 = pd.read_excel('/content/drive/MyDrive/epra fuel/Pump-Prices11-15-May-14-June-2022_Website.xlsx')
df19 = pd.read_excel('/content/drive/MyDrive/epra fuel/15th-January-2023-–14th-February-2023-11.xlsx')


# Combine the DataFrames along the row axis, ignoring the index
combined_xlsx = pd.concat([df1, df4, df5, df6, df7, df8, df9, df11, df12, df13, df14, df15, df16, df17, df18, df19], ignore_index=True)

# Save the combined DataFrame to a new XLSX file
combined_xlsx.to_excel('combined_new.xlsx', index=False)

import os
# Get a list of all the XLSX files in the directory
xlsx_files = [f for f in os.listdir() if f.endswith('.xlsx')]

# Read the XLSX file into a Pandas DataFrame
df = pd.read_excel('combined_new.xlsx')

# Save the DataFrame to a CSV file
df.to_csv('file.csv', index=False)

#combining the csv files
df22 = pd.read_csv('file.csv')
df2 = pd.read_csv('/content/drive/MyDrive/epra fuel/15th-April-2022-14th-May-2022.csv')
df3 = pd.read_csv('/content/drive/MyDrive/epra fuel/15th-April-2023-to-14th-may-2023 (1).csv')
df21 = pd.read_csv('/content/drive/MyDrive/epra fuel/15th-November-14th-December-2021-1 (1).csv')
df10 = pd.read_csv('/content/drive/MyDrive/epra fuel/July-1-July-14-2023 (1).csv')
df20 = pd.read_csv('/content/drive/MyDrive/epra fuel/15th-April-2023-to-14th-may-2023.csv')

df_combined = pd.concat([df22, df2,df3, df21, df10, df20], axis=1)
df_combined.to_csv('combined.csv', index=False, encoding='utf-8')

In [29]:
df_combined.head()

,Unnamed: 0,15th February 2023 –14th March 2023,MAXIMUM PUMP PRICES,Unnamed: 3,Unnamed: 4,15th December 2022 –14th January 2023,Price Period,Town,Super,Diesel,...,15th April 2023 ?\n14th May 2023,MAXIMUM PUMP PRICES.1,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,15th April 2023 ?\n14th May 2023.1,MAXIMUM PUMP PRICES.2,Unnamed: 15,Unnamed: 16
0,NaN,NaN,Super Petrol (PMS),Automotive Diesel (AGO),Kerosene (DPK),NaN,NaN,NaN,NaN,NaN,...,NaN,Super\nPetrol (PMS),Automotive\nDiesel (AGO),Kerosene (DPK),NaN,NaN,NaN,Super\nPetrol (PMS),Automotive\nDiesel (AGO),Kerosene (DPK)
1,NaN,TOWNS,KES/L,KES/L,KES/L,NaN,NaN,NaN,NaN,NaN,...,Gilgil,178.58,161.79,145.76,NaN,150.0,Kabiyet,179.51,162.72,146.67
2,1,Mombasa,174.98,159.76,143.69,NaN,NaN,NaN,NaN,NaN,...,Mogotio,178.57,161.78,145.74,NaN,151.0,Cheptulu,179.93,163.15,147.1
3,2,Kilifi,175.69,160.47,144.41,NaN,NaN,NaN,NaN,NaN,...,Molo,178.65,161.86,145.83,NaN,152.0,Songor,180.47,163.69,147.65
4,3,Likoni Mainland,175.34,160.11,144.05,NaN,NaN,NaN,NaN,NaN,...,Olenguruone,179.36,162.56,146.53,NaN,153.0,Kapcherop,180.11,163.33,147.28

In [31]:
df_combined.describe()

,Super,Diesel,Kerosene,Unnamed: 18,Super,Diesel,Kerosene,Unnamed: 0,Unnamed: 5,Unnamed: 6,...,Unnamed: 12,Super,Diesel,Kerosene,Unnamed: 0,Unnamed: 0,Unnamed: 5,Unnamed: 6,Unnamed: 11,Unnamed: 12
count,483.000000,483.000000,483.000000,0.0,223.000000,223.000000,223.000000,74.000000,0.0,75.000000,...,74.000000,149.000000,149.000000,149.000000,223.000000,74.000000,0.0,75.000000,0.0,74.000000
mean,133.631073,114.717767,105.762216,NaN,146.635202,127.720448,115.671031,37.500000,NaN,112.000000,...,186.500000,131.633893,112.733356,105.683423,112.000000,37.500000,NaN,112.000000,NaN,186.500000
std,3.683710,3.653101,2.627418,NaN,2.567098,2.534113,2.530625,21.505813,NaN,21.794495,...,21.505813,2.579935,2.554399,2.551937,64.518731,21.505813,NaN,21.794495,NaN,21.505813
min,127.460000,108.360000,101.290000,NaN,142.360000,123.260000,111.190000,1.000000,NaN,75.000000,...,150.000000,127.460000,108.360000,101.290000,1.000000,1.000000,NaN,75.000000,NaN,150.000000
25%,130.590000,111.720000,104.280000,NaN,145.220000,126.290000,114.260000,19.250000,NaN,93.500000,...,168.250000,130.180000,111.340000,104.280000,56.500000,19.250000,NaN,93.500000,NaN,168.250000
50%,132.610000,113.550000,104.990000,NaN,145.930000,127.070000,115.040000,37.500000,NaN,112.000000,...,186.500000,130.930000,111.970000,104.910000,112.000000,37.500000,NaN,112.000000,NaN,186.500000
75%,136.030000,117.150000,106.220000,NaN,147.000000,128.050000,116.005000,55.750000,NaN,130.500000,...,204.750000,131.880000,113.030000,105.970000,167.500000,55.750000,NaN,130.500000,NaN,204.750000
max,147.750000,128.650000,116.580000,NaN,157.650000,138.550000,126.480000,74.000000,NaN,149.000000,...,223.000000,142.750000,123.640000,116.580000,223.000000,74.000000,NaN,149.000000,NaN,223.000000

In [32]:

# Identify the rows or columns that contain NaN values
rows_with_nan = df.isnull().any(axis=1)
columns_with_nan = df.isnull().any(axis=0)

# Drop the rows or columns that contain NaN values
df = df.dropna(axis=0, how='any')
df = df.dropna(axis=1, how='any')

# Print the DataFrame
print(df)

Empty DataFrame
Columns: [Unnamed: 0, 15th February 2023 –14th March 2023, MAXIMUM PUMP PRICES, Unnamed: 3, Unnamed: 4, 15th December 2022 –14th January 2023, Price Period, Town, Super, Diesel, Kerosene, 15th January 2023 –14th February 2023, Period, Unnamed: 1, Unnamed: 2, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11,    , Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, 15th November 2022 – 14th December 2022, 15th August 2022 –14th September 2022, 15th October 2022 –14th November 2022, 15th July 2022 –14th August 2022, 15th September 2022 –14th October 2022]
Index: []

[0 rows x 35 columns]

In [34]:
df_combined.describe()

,Super,Diesel,Kerosene,Unnamed: 18,Super.1,Diesel.1,Kerosene.1,Unnamed: 0.1,Unnamed: 5.1,Unnamed: 6.1,...,Unnamed: 12,Super.2,Diesel.2,Kerosene.2,Unnamed: 0.2,Unnamed: 0.3,Unnamed: 5.2,Unnamed: 6.2,Unnamed: 11.2,Unnamed: 12.1
count,483.000000,483.000000,483.000000,0.0,223.000000,223.000000,223.000000,74.000000,0.0,75.000000,...,74.000000,149.000000,149.000000,149.000000,223.000000,74.000000,0.0,75.000000,0.0,74.000000
mean,133.631073,114.717767,105.762216,NaN,146.635202,127.720448,115.671031,37.500000,NaN,112.000000,...,186.500000,131.633893,112.733356,105.683423,112.000000,37.500000,NaN,112.000000,NaN,186.500000
std,3.683710,3.653101,2.627418,NaN,2.567098,2.534113,2.530625,21.505813,NaN,21.794495,...,21.505813,2.579935,2.554399,2.551937,64.518731,21.505813,NaN,21.794495,NaN,21.505813
min,127.460000,108.360000,101.290000,NaN,142.360000,123.260000,111.190000,1.000000,NaN,75.000000,...,150.000000,127.460000,108.360000,101.290000,1.000000,1.000000,NaN,75.000000,NaN,150.000000
25%,130.590000,111.720000,104.280000,NaN,145.220000,126.290000,114.260000,19.250000,NaN,93.500000,...,168.250000,130.180000,111.340000,104.280000,56.500000,19.250000,NaN,93.500000,NaN,168.250000
50%,132.610000,113.550000,104.990000,NaN,145.930000,127.070000,115.040000,37.500000,NaN,112.000000,...,186.500000,130.930000,111.970000,104.910000,112.000000,37.500000,NaN,112.000000,NaN,186.500000
75%,136.030000,117.150000,106.220000,NaN,147.000000,128.050000,116.005000,55.750000,NaN,130.500000,...,204.750000,131.880000,113.030000,105.970000,167.500000,55.750000,NaN,130.500000,NaN,204.750000
max,147.750000,128.650000,116.580000,NaN,157.650000,138.550000,126.480000,74.000000,NaN,149.000000,...,223.000000,142.750000,123.640000,116.580000,223.000000,74.000000,NaN,149.000000,NaN,223.000000